<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <urlCompression doStaticCompression="false" doDynamicCompression="false" />
    <httpCompression>
      <dynamicTypes>
        <remove mimeType="*/*" />
      </dynamicTypes>
      <staticTypes>
        <remove mimeType="*/*" />
      </staticTypes>
    </httpCompression>

    <proxy enabled="true" preserveHostHeader="true" />

    <rewrite>
      <rules>
        <rule name="NextStatic" stopProcessing="true">
          <match url="^_next/static/(.*)" />
          <action type="Rewrite" url="http://localhost:3000/_next/static/{R:1}" />
        </rule>

        <rule name="API" stopProcessing="true">
          <match url="^api/(.*)" />
          <action type="Rewrite" url="http://localhost:3000/api/{R:1}" />
        </rule>

        <rule name="App" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="http://localhost:3000/{R:0}" />
        </rule>

      </rules>
    </rewrite>

    <httpErrors errorMode="Detailed" existingResponse="PassThrough" />

  </system.webServer>
</configuration>
